## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
print('row 數: {0}, column 數: {1}'.format(app_train.shape[0], app_train.shape[1]))

row 數: 307511, column 數: 122

#### 列出所有欄位

In [5]:
for index in range(len(app_train.columns)):
    print('{0:<40}'.format(app_train.columns[index]), end='')
    if (index + 1) % 3 == 0:
        print()

SK_ID_CURR                              TARGET                                  NAME_CONTRACT_TYPE
CODE_GENDER                             FLAG_OWN_CAR                            FLAG_OWN_REALTY
CNT_CHILDREN                            AMT_INCOME_TOTAL                        AMT_CREDIT
AMT_ANNUITY                             AMT_GOODS_PRICE                         NAME_TYPE_SUITE
NAME_INCOME_TYPE                        NAME_EDUCATION_TYPE                     NAME_FAMILY_STATUS
NAME_HOUSING_TYPE                       REGION_POPULATION_RELATIVE              DAYS_BIRTH
DAYS_EMPLOYED                           DAYS_REGISTRATION                       DAYS_ID_PUBLISH
OWN_CAR_AGE                             FLAG_MOBIL                              FLAG_EMP_PHONE
FLAG_WORK_PHONE                         FLAG_CONT_MOBILE                        FLAG_PHONE
FLAG_EMAIL                              OCCUPATION_TYPE                         CNT_FAM_MEMBERS
REGION_RATING_CLIENT                    REGION_RATING_CLIENT_W_CITY             WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START                 REG_REGION_NOT_LIVE_REGION              REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION             REG_CITY_NOT_LIVE_CITY                  REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY                 ORGANIZATION_TYPE                       EXT_SOURCE_1
EXT_SOURCE_2                            EXT_SOURCE_3                            APARTMENTS_AVG
BASEMENTAREA_AVG                        YEARS_BEGINEXPLUATATION_AVG             YEARS_BUILD_AVG
COMMONAREA_AVG                          ELEVATORS_AVG                           ENTRANCES_AVG
FLOORSMAX_AVG                           FLOORSMIN_AVG                           LANDAREA_AVG
LIVINGAPARTMENTS_AVG                    LIVINGAREA_AVG                          NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG                       APARTMENTS_MODE                         BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE            YEARS_BUILD_MODE                        COMMONAREA_MODE
ELEVATORS_MODE                          ENTRANCES_MODE                          FLOORSMAX_MODE
FLOORSMIN_MODE                          LANDAREA_MODE                           LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE                         NONLIVINGAPARTMENTS_MODE                NONLIVINGAREA_MODE
APARTMENTS_MEDI                         BASEMENTAREA_MEDI                       YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI                        COMMONAREA_MEDI                         ELEVATORS_MEDI
ENTRANCES_MEDI                          FLOORSMAX_MEDI                          FLOORSMIN_MEDI
LANDAREA_MEDI                           LIVINGAPARTMENTS_MEDI                   LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI                NONLIVINGAREA_MEDI                      FONDKAPREMONT_MODE
HOUSETYPE_MODE                          TOTALAREA_MODE                          WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE                     OBS_30_CNT_SOCIAL_CIRCLE                DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE                DEF_60_CNT_SOCIAL_CIRCLE                DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2                         FLAG_DOCUMENT_3                         FLAG_DOCUMENT_4
FLAG_DOCUMENT_5                         FLAG_DOCUMENT_6                         FLAG_DOCUMENT_7
FLAG_DOCUMENT_8                         FLAG_DOCUMENT_9                         FLAG_DOCUMENT_10
FLAG_DOCUMENT_11                        FLAG_DOCUMENT_12                        FLAG_DOCUMENT_13
FLAG_DOCUMENT_14                        FLAG_DOCUMENT_15                        FLAG_DOCUMENT_16
FLAG_DOCUMENT_17                        FLAG_DOCUMENT_18                        FLAG_DOCUMENT_19
FLAG_DOCUMENT_20                        FLAG_DOCUMENT_21                        AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY               AMT_REQ_CREDIT_BUREAU_WEEK              AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT               AMT_REQ_CREDIT_BUREAU_YEAR

#### 截取部分資料

In [6]:
app_train.loc[(app_train['TARGET'] == 1) & (app_train['CODE_GENDER'] == 'M'),['SK_ID_CURR', 'TARGET', 'CODE_GENDER']].head(20).tail(10)

     SK_ID_CURR  TARGET CODE_GENDER
344      100396       1           M
368      100424       1           M
381      100439       1           M
389      100452       1           M
408      100472       1           M
413      100477       1           M
419      100485       1           M
424      100490       1           M
477      100547       1           M
492      100567       1           M

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子